body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-bottom: 0px;

    a:hover {
        color: #f2f2f2;
    }
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
    text-align: justify;
}

article {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 0.5px;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

  th {
      font-weight: bolder;
      background-color: #f2f2f2;
}

  th, td {
    border: 1px solid #dddddd;
    padding: 8px;

    a {
        text-decoration: none;
        color: #333;
    }
}

/* PARA RESPONSIVIDADE */
div#container {
    overflow-x: auto;
    @media screen and (max-width: 450px){
        font-size: x-small;
    }
}
  
.breadcrumb {
    text-align: right;
    
    p {
        margin: 0 15px;
        text-align: justify;
    }
}

/* .figura {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    width: 100%;
} */

.destacado {
    font-weight: bold;
}

.div_tabela {
    width: auto;
    overflow-x: auto;
}
    
.emoji {
    text-decoration: none;
    color: #333;
}

.image-container {
    text-align: center;
    margin: 20px;
}

.image-container img {
    max-width: 768px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-container p.legenda {
    text-align: center;
    font-size: smaller;
    color: #333;
}

.linkdiscreto {
    text-decoration: none;
    color: #333;
}

.social {
    padding: 5px 5px 0px 5px;
}
